.galeria-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-md);
  margin-top: var(--spacing-lg);
}

.card {
  height: 150px;
  background-color: #ddd;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}